* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(219, 200, 175);
}

.custom-box {
    max-width: 800px;
    background-color: white;
    margin: 30px auto;
    padding: 50px 40px;
    border-radius: 10px;
}
.quiz-home-box {
    text-align: center;
    font-family: 'Pangolin', cursive;
    display: none;
}

.quiz-home-box.show {
    display: block;
}

.quiz-home-box h4 {
    font-size: 30px;
    color: black;
    
}

.btn {
    background-color: lightpink;
    border: 2px solid white;
    padding:14px 40px;
    color:black;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    white-space: nowrap;
    margin: 0 10px;
}

.submit-name-btn {
    padding:10px 15px;
    font-size: 15px;
}

.btn:focus {
    outline: none;
    color: white;
}

.quiz-box {
    background-color: white;
    display: none;
}

.quiz-box.show {
    display: block;
}


.quiz-box .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 30px;
    text-transform: uppercase;
    color: darkblue;
}

.quiz-box .stats .quiz-time {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    text-align: left;
}

.quiz-box .stats .time-up-text {
    /* display: inline-block; */
    font-weight: 500;
    display: none;
}

.quiz-box .stats .time-up-text.show {
     display: inline-block;
     color: red;
}

.quiz-box .stats .quiz-time .remaining-time {
    height: 60px;
    width: 60px;
    color: green;
    border: 2px solid green;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    font-family: 'Pangolin', cursive;
}

.quiz-box .stats .quiz-time .remaining-time.less-time {
    color:red;
    border: 4px solid red;
    font-family: 'Pangolin', cursive;
}

.quiz-box .stats .score-board {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    text-align: right;
    font-family: 'Pangolin', cursive;
}

.quiz-box .stats .score-board .correct-answers {
    font-weight: 800;
}

.quiz-box .question-box{
    background-color: rgb(240, 213, 245);
    padding: 40px 30px;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    position: relative;
}

.quiz-box .question-box .current-question-num {
    height: 70px;
    width: 70px;
    background-color: rgb(250, 227, 222);
    border: 2px solid lightslategray;
    font-size: 20px;
    border-color: black;
    border-radius: 50%;
    line-height: 68px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    z-index: 1;
    font-family: 'Pangolin', cursive;
}

.quiz-box .question-box .question-text {
    font-size: 30px;
    font-family: 'Pangolin', cursive;
    color: black;
}

.quiz-box .option-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quiz-box .option-box .option{
    background-color: pink;
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-top: 30px;
    padding: 14px 15px;
    text-align: center;
    font-size: 20px;
    /* text-transform: uppercase; */
    font-weight: 500;
    color:black;
    font-family: 'Pangolin', cursive;
    border-radius: 30px;
    border: 2px solid white;
    cursor: pointer;
}

.quiz-box .option-box .option.already-answered {
    pointer-events: none;
}

.quiz-box .option-box .option.show-correct {
    background-color: green;
    border-color: white ;
}

.quiz-box .option-box .option.correct {
    background-color: green;
    border-color: white ;
    color: white;
}

.quiz-box .option-box .option.wrong {
    background-color: red;
    border-color: white;
    color: white;
}

.quiz-box .answer-description.show {
    display: block;
}

.see-result-btn.show,
.next-question-btn.show {
    display: inline-block;
}

.quiz-box .answer-description {
    background-color: rgb(159, 216, 162);
    border: 2px solid white;
    margin-top:  20px;
    padding: 15px;
    border-radius: 10px;
    color: black;
    display: none;
    font-family: 'Pangolin', cursive;
    font-size: larger;
}

.quiz-box .next-question {
    margin-top: 20px;
    text-align: center;


}

.see-result-btn, .next-question-btn {
    display:none;
}

.quiz-over-box h1 {
    font-size: 50px;
    font-family: 'Pangolin', cursive;
    color: black;
    margin: 0 0 20px;
}

.quiz-over-box h4 {
    font-family: 'Pangolin', cursive;
    font-size: 25px;
    font-weight: normal;
    color: black;
    margin: 15px 0 25px;
}

.quiz-over-box {
    display: none;
    text-align: center;
    justify-content: center;
}

.quiz-over-box h4 span {
    font-weight: 800;
}

.quiz-over-box.show {
    display: block;
}

.start-again-quiz-btn, .go-home-btn {
    margin-top: 15px;
}

/* .finalMsg {
    display: none;
}

.finalMsg.show {
    display: block;
    font-size: 20px;
} */

@media (max-width: 767px){
    .quiz-home-box h4 {
        font-size: 20px;
    }
    .quiz-home-box h1 {
        font-size: 30px;
        margin: 0;
    }
    .quiz-box .question-box .question-text {
        font-size: 20px;
    }
    .custom-box{
        padding: 30px 20px 50px 20px;
    }
    .quiz-box .stats{
        font-size: 20px;
    }
}